[Desktop Entry]
Name=CMS Client
Comment=Aplikasi CMS Client
Exec=/home/hermawan/Documents/Software_CMS_Client/CMS_Client
Icon=/home/hermawan/Documents/Software_CMS_Client/icon.ico
Terminal=false
Type=Application
Categories=Utility;
